# Node.js
node_modules/
npm-debug.log
yarn-error.log
.env

# TypeScript
dist/
build/
*.tsbuildinfo

# Logs
logs
*.log
logs/*.log
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage/
*.lcov

# IDEs y editores
.vscode/
.idea/
*.swp
.DS_Store

# Test output
/junit.xml

# Sistema operativo
Thumbs.db
Desktop.ini

# Otros archivos innecesarios
*.lock
